@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

html, body {
  margin: 0;
  height:100%;
}
body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


input {
  display: block;
  border: 0px;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px #bdc3c7 solid;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}
input#submit {
  height: 30px;
  width: 80px;
  position: fixed;
  right: 30px;
  top: 30px;
  border-radius: 2px;
  color: #fff;
  background: #e74c3c;
  padding:0px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  display: block;
  border: 0px;
  border-bottom: 1px #95a5a6 solid;
  height: 50%;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}
.flexcontainer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flexcontainer > form {
}

#overthefold {
  width: 100%;
  height: 100%;
  background: #2c3e50;
  color: #fff;
}

#underthefold {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 1em;
}

.blur{
  background: rgba(0,0,0, 0.5)
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}
