<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Create a new event
    </title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>

  <body>
    <div class="flexcontainer">
      <form method="POST" id="genform">
        <input type="submit" value="Submit" id="submit"></input>

      </form>

      <textarea name="desc" id="genfield" form="genform" placeholder="Start typing"></textarea>
    </div>
  </body>
</html>
