<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>{{.Title}}</title>

    <style type="text/css">
      #overthefold {
        background-image: url('{{.Bg}}');
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <div id="floating bar">
    <a href="" id="editlink">Edit</a>
    <a href="" id="commitlink"> Finalize </a>
    </div>
    <div id="overthefold">
      <div class="flexcontainer blur">
        <h1>{{.Title}}</h1>
        <div id="datecontainer"></div>
        <div id="daysleft"></div>
      </div>
    </div>
    
    <div id="underthefold">
      {{.Desc}}
    </div>
    <script type="text/javascript">
      var str;
      var givenDate = Date.parse("{{.Date}}");
      var today = new Date().getTime(); 
      var daysFloat =(givenDate-today)/(3600*1000*24);
      var days = Math.round(daysFloat);
      if(days < 1) str = "You missed it"
      else if(days == 0) str = "Today"
      else str = days + " days to go."
      document.getElementById("daysleft").innerHTML=(str);
      var wordsarr = new Date(givenDate).toDateString().split(" ");
      wordsarr.shift()
      document.getElementById("datecontainer").innerHTML = wordsarr.join(" ")      
    </script>
    <script type="text/javascript">
      var id = document.URL.split("/").pop()
      document.getElementById("editlink").href = "/e/"+id;
      document.getElementById("commitlink").href = "/commit/"+id;
      
    </script>
  </body>
</html>
